<h1>New Figure</h1>
<form action="/figures" method="post">
  <label for="name">Name: </label><input id="name" type="text" name="figure[name]" value="">

  <br></br>

  <label for="">Titles: </label>

  <br></br>

  <% @titles.each do |title| %>
  <input id="" type="checkbox" name="titles[]" value="<%= title.name %>"><%= title.name %>
  <br />
  <% end %>
  <br />
  <label for="title">New Title: </label><input id="title" type="text" name="title[name]" value="">
  <br></br>

  <label for="">Landmarks: </label>

  <br></br>

  <% @landmarks.each do |landmark| %>
  <input id="" type="checkbox" name="landmarks[]" value="<%= landmark.name %>"><%= landmark.name %>
  <br />
  <% end %>
  <br />
  <label for="landmark">New Landmark: </label><input id="landmark" type="text" name="landmark[name]" value="">

  <br></br>

  <button type="submit" name="create" value="create">Create</button>
</form>
