<h1>New Figure</h1>
<form action="/figures" method="post">
  <label for="name">Name: </label><input id="name" type="text" name="figure[name]" value="">
  <br></br>
  <label for="">Titles: </label>
  <br></br>
  <input id="" type="text" name="titles[]" value="">
  <br></br>
  

</form>
